# archivo .htaccess

RewriteEngine on

RewriteRule ^registro$ controllers/registroCliente.php
RewriteRule ^registro-completado$ controllers/registroCompletado.php 
RewriteRule ^login$ controllers/iniciarSesion.php
RewriteRule ^logout$ controllers/cerrarSesion.php
RewriteRule ^principal$ controllers/menuPrincipal.php 
RewriteRule ^catalogo$ controllers/mostrarCatalogo.php
RewriteRule ^catalogo-servicios-adicionales$ controllers/catalogoServiciosAdicionales.php
RewriteRule ^fecha-evento$ controllers/seleccionarFechaEvento.php 
RewriteRule ^menus-presupuesto$ controllers/menusPresupuesto.php 
RewriteRule ^servicios-presupuesto$ controllers/serviciosPresupuesto.php
RewriteRule ^resumen$ controllers/verResumen.php
RewriteRule ^solicitudes-pendientes$ controllers/verSolicitudesPendientes.php
RewriteRule ^presupuestos-recibidos$ controllers/verPresupuestosRecibidos.php
RewriteRule ^actualizar-precio-menu$ controllers/actualizarPrecioMenu.php
RewriteRule ^presupuestos-aceptados$ controllers/presupuestosConfirmados.php
RewriteRule ^eventos-empleados$ controllers/eventosEmpleados.php
RewriteRule ^eventos-confirmados-empleados$ controllers/eventosConfirmadosEmpleado.php


RewriteRule ^cliente-([0-9]+)$ controllers/detalleCliente.php?id=$1 
RewriteRule ^solicitud-([0-9]+)$ controllers/detalleSolicitud.php?id=$1
RewriteRule ^presupuesto-([0-9]+)$ controllers/detallePresupuesto.php?id=$1
RewriteRule ^agregar-menus-([0-9]+)$ controllers/nuevoMenuSolicitud.php?id=$1
RewriteRule ^agregar-servicios-([0-9]+)$ controllers/nuevoServicioSolicitud.php?id=$1
RewriteRule ^quitar-menus-([0-9]+)$ controllers/borrarMenuSolicitud.php?id=$1
RewriteRule ^quitar-servicios-([0-9]+)$ controllers/borrarServicioSolicitud.php?id=$1
RewriteRule ^confirmar-presupuesto-([0-9]+)$ controllers/confirmarPresupuesto.php?id=$1
RewriteRule ^aceptar-presupuesto-([0-9]+)$ controllers/aceptarPresupuesto.php?id=$1
RewriteRule ^rechazar-presupuesto-([0-9]+)$ controllers/rechazarPresupuesto.php?id=$1
RewriteRule ^presupuesto-aceptado-([0-9]+)$ controllers/detallePresupuestoAdmin.php?id=$1
RewriteRule ^crear-evento-([0-9]+)$ controllers/crearEvento.php?id=$1
RewriteRule ^seleccionar-encargado-([0-9]+)$ controllers/seleccionarEncargado.php?id=$1
RewriteRule ^seleccionar-mozos-([0-9]+)$ controllers/seleccionarMozos.php?id=$1
RewriteRule ^resumen-evento-([0-9]+)$ controllers/resumenEvento.php?id=$1
RewriteRule ^confirmar-evento-([0-9]+)$ controllers/confirmarEvento.php?id=$1
RewriteRule ^evento-empleado-([0-9]+)$ controllers/detalleEventoEmpleado.php?id=$1
RewriteRule ^confirmar-evento-empleado-([0-9]+)$ controllers/confirmarEventoEmpleado.php?id=$1
RewriteRule ^rechazar-evento-empleado-([0-9]+)$ controllers/rechazarEventoEmpleado.php?id=$1
RewriteRule ^evento-confirmado-empleado-([0-9]+)$ controllers/eventoConfirmadoEmpleado.php?id=$1
