# archivo .htaccess

RewriteEngine on

RewriteRule ^registro$ controllers/registroCliente.php
RewriteRule ^registro-completado$ controllers/registroCompletado.php 
RewriteRule ^login$ controllers/iniciarSesion.php
RewriteRule ^logout$ controllers/cerrarSesion.php
RewriteRule ^catalogo$ controllers/mostrarCatalogo.php 
RewriteRule ^menus-presupuesto$ controllers/menusPresupuesto.php 
RewriteRule ^servicios-presupuesto$ controllers/serviciosPresupuesto.php
RewriteRule ^resumen$ controllers/verResumen.php
RewriteRule ^solicitudes-pendientes$ controllers/verSolicitudesPendientes.php
RewriteRule ^presupuestos-recibidos$ controllers/verPresupuestosRecibidos.php


RewriteRule ^cliente-([0-9]+)$ controllers/detalleCliente.php?id=$1 
RewriteRule ^solicitud-([0-9]+)$ controllers/detalleSolicitud.php?id=$1
RewriteRule ^presupuesto-([0-9]+)$ controllers/detallePresupuesto.php?id=$1
RewriteRule ^agregar-menus-([0-9]+)$ controllers/nuevoMenuSolicitud.php?id=$1
RewriteRule ^agregar-servicios-([0-9]+)$ controllers/nuevoServicioSolicitud.php?id=$1
RewriteRule ^quitar-menus-([0-9]+)$ controllers/borrarMenuSolicitud.php?id=$1
RewriteRule ^quitar-servicios-([0-9]+)$ controllers/borrarServicioSolicitud.php?id=$1
RewriteRule ^confirmar-presupuesto-([0-9]+)$ controllers/confirmarPresupuesto.php?id=$1