.mensaje{
    color: greenyellow;
    background-color: transparent;
    border: 2px solid greenyellow;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    
}

.mensaje-error{
    color: red;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    
}

